.contact-page {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70vw;
    margin-left: 15%;
  }
  
  .contact-item {
    text-align: center;
  }
  
  .map-container {
    width: 70vw;
    height: 400px;
    margin-left: 15%;
  }
  
  .message-container {
    display: grid;
    max-width: 70vw;
    gap: 1em;
    margin-left: 15%;
  }
  .data-container{
    display: grid;
    gap: 0.5em;
  }
  .data-container > input{
    height: 2em;
  }
  .message-container textarea {
    width: 100%;
    font-size: 16px;
  }
  .contact-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 1em;
  }
  .message-container button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
  }
  
  .message-container button:hover {
    background-color: darkorange;
  }
  @media (max-width: 768px) {
    .contact-details {
      grid-template-columns: repeat(2, 1fr);
  }
  .contact-items-grid-3{
    grid-column: span 2;
  }
  .map-container {
    width: 80vw;
    height: 400px;
    margin-left: 5vw;
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .message-container {
  margin-left: 0vw;
  }
  .message-container button{
    width: 50%;
    margin-left: 25%;
  }
  }